body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.orange-color{
    color: deeppink;
}
.food-container{
    display: flex;
    margin-top: 80px;
    margin-bottom: 50px;
}
.size-maintain{
    width: 60%;
    padding-right: 5%;
    padding-left: 5%;
}
.size-maintain img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(deepskyblue, skyblue);
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 600;
    color: white;
}
.food-bank{
    padding-right: 5%;
    text-align: center;
    margin-top: 25px;  
}
.food-bank img{
    width: 252%;
    height: 60%;
    padding-right: 15%;
}
.recipies-list{
    padding: 5px;
    width: 400px;
    margin: 5px 25px ;
    border-radius:20px;
    box-shadow: 10px 10px 40px 10px gray;
}
.recipies-list img{
    width: 99%;
}
footer h1{
    text-align: center;
}
footer p{
    text-align: center;
}
.box{
    background-color: gray;
}

    